body {
  /* background: #000; */
  line-height: 26px;
  margin: 1em;
}

.App {
  height: 75vh;
  margin-top: 15vh;
}

.ContactForm {
  /* display: flex;
  justify-content: center; */
  display: grid;
  place-items: center;
}

.container {
  min-width: 35rem;
}

form {
  margin-top: 20px;
}

.formRow {
  margin: 10px 0 20px 0;
}

input {
  width: 100%;
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif, system-ui;
  font-size: 1em;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif, system-ui;
}

.formInput {
  padding: 15px 10px;
}

.errorMessage {
  color: #f45532;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.submit-btn {
  box-sizing: border-box;
  padding: 15px 50px;
  border-radius: 10px;
  margin-bottom: 5px;
  width: 100%;
}

@media (max-width: 768px) {
  .submit-message {
    width: 125px;
    margin-left: 200px;
  }
  .container {
    max-width: 700px;
  }
}